
# python -m pip install sioyek
  # -paper_downloader

  # Download the paper name under cursor from google scholar or scihub and open the document.
  # To enable add this to your prefs_user.config:
  # Now you can download papers by control-clicking on their names like this:

new_command _download_paper python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}"
control_click_command _download_paper

  # -dual_panelify
  # Create a dual panel version of the current PDF file.

new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"

  # -embed_annotations
  # Embed the sioyek bookmarks and highlights into the current file.

new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

  # -extract_highlights
  # Create a new document with the highlights of the current document with pre-inserted portal
  # into the corresponding location in the original document.

new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

  # -translate
  # Translate the text and display it in sioyek statusbar.

new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"

  # -import_annotations
  # Import PDF bookmarks and highlights into sioyek so that they are searchable.

new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

  # -remove_annotation
  # Remove PDF annotations.

new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"

  # -add_text
  # Add text annotation to the PDF.

new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0
