#some- highlight colors  m , c ,n, o,p,q,r ,v,w
# python -m pip install sioyek
  # -paper_downloader

  # Download the paper name under cursor from google scholar or scihub and open the document.
  # To enable add this to your prefs_user.config:
  # Now you can download papers by control-clicking on their names like this:

new_command _download_paper python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}"
control_click_command _download_paper

  # -dual_panelify
  # Create a dual panel version of the current PDF file.

new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"

  # -embed_annotations
  # Embed the sioyek bookmarks and highlights into the current file.

new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

  # -extract_highlights
  # Create a new document with the highlights of the current document with pre-inserted portal
  # into the corresponding location in the original document.

new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

  # -translate
  # Translate the text and display it in sioyek statusbar.

new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"

  # -import_annotations
  # Import PDF bookmarks and highlights into sioyek so that they are searchable.

new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

  # -remove_annotation
  # Remove PDF annotations.

new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"

  # -add_text
  # Add text annotation to the PDF.

new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0




# (can be 0 or 1) if set, shows a notification on startup if a new version of sioyek is available
check_for_updates_on_startup	0


# Urls to use when executing external_search commands
search_url_s	https://scholar.google.com/scholar?q=
search_url_l	http://gen.lib.rus.ec/scimag/?q=
search_url_g	https://www.google.com/search?q=

# Which search url to choose when middle clicking or shift middle clicking on text (the values are the letters of corresponding search_url_* )
# for example if i set `middle_click_search_engine	s`, then we use the url associated with `search_url_s` to handle middle click searches
middle_click_search_engine			s
shift_middle_click_search_engine	l

# The factor by which we increase/decrease zoom when performing zoom_in or zoom_out
zoom_inc_factor         1.2

# How many inches we move vertically/horizontally when performing move_* commands
vertical_move_amount    1.0
horizontal_move_amount    1.0

# When performing screen_down/screen_up we usually don't move a full screen because it causes the user to lose context
# Here we specify the fraction of the screen width by which we move when performing these commands
move_screen_ratio      0.5

# If 0, Table of Contents is shown in a hierarchial tree, otherwise it is a flat list (can improve performance for extremely large table of contents)
flat_toc                            0

# If it is 1, when launching the application if we detect multiple monitors, we automatically launch the helper window in second monitor
should_use_multiple_monitors        0

# If the last opened document is empty, load the tutorial pdf instead
should_load_tutorial_when_no_other_file	1

# (deprecated, use `should_launch_new_window` instead) If it is 0, then we use the previous instance of sioyek when launching a new file.
# otherwise a new instance is launched every time we open a new file.
should_launch_new_instance				0

# If set, we open a new sioyek window when a new file is opened, otherwise we open the file in the previous window
should_launch_new_window				0

# The command to use when trying to do inverse search into a LaTeX document. Uncomment and provide your own command.
# %1 expands to the name of the file and %2 expans to the line number.
#inverse_search_command 		"C:\path\to\vscode\Code.exe" -r -g %1:%2

# you can specify the exact highlight color for each of 26 different highlight types

# When moving to the next line using visual marker, this setting specifies the distance of the market to the top of the screen in fractions of screen size (center of the screen is zero, top of the screen is one)
visual_mark_next_page_fraction	0.75

# When moving to the next line using visual marker, this setting determines at which point we move the screen (center of the screen is zero, bottom of the screen is one)
visual_mark_next_page_threshold	0.25

# If set, we display a checkerboard pattern for unrendered pages (by default we display nothing)
should_draw_unrendered_pages	0

# If 0, we use the previous renders for overview window which may cause it to be blurry
# if it is 1, we rerender with the proper resolution for overview window which looks better
# but may increase power consumption
rerender_overview 1

## Size of the overview window (1 being as large as the window, valid range is [0, 1])
# overview_size 0.5 0.5

## Offset of the center of the overview window ((0,0) being the center of the screen and valid raneg is [-1, 1])
# overview_offset 0.5 0.5

# Use linear texture filtering instead of nearest-neighbor
# Can improve appearance in very high-resolution screens
# linear_filter 0

# Use dark mode by default (deprecated, better add `toggle_dark_mode` to `startup_commands` )
# default_dark_mode	0

# If set, we sort the bookmarks by their location instead of their creation time
sort_bookmarks_by_location	1

## Path to shared.db database file. If not set, we use the default path.
## you can set this to be a file in a synced folder (e.g. dropbox folder) to automatically sync
## sioyek across multiple computers
# shared_database_path   ~/.config/sioyek/shared.db

## Name of the font to use for UI text
#ui_font Some Font Name
## Size of the UI font
#font_size 20

## Semicolon-separated list of command to execute upon sioyek startup
startup_commands    toggle_visual_scroll;toggle_dark_mode
# startup_commands    toggle_visual_scroll;toggle_custom_color
# Normally mouse wheel zooms in on the middle of the screen, but if this is set to 1, we zoom in on the cursor
wheel_zoom_on_cursor 0

## The default size of main window when helper window is closed
#single_main_window_size 800 600
#single_main_window_move 100 100

## The default size/offset of main/helper window when helper window is opened. You can copy the value of this config using `copy_window_size_config` command
#main_window_size 800 600
#main_window_move 100 100
#helper_window_size 800 600
#helper_window_move 100 100

## Touchpad/scrollwhell sensitivity
#touchpad_sensitivity 1.0

## Configure the appearance of page separator
#page_separator_width 2
#page_separator_color	0.9 0.9 0.9

# Ratio of page width to use for `fit_to_page_width_ratio` command
fit_to_page_width_ratio 0.75

# If set, we initially collapse table of content entries
collapsed_toc 0

# If set, we highlight the current line in visual_scroll_mode by masking above and below the current line
# if not set, we only mask below the line
ruler_mode 1

# Additional ruler padding
ruler_padding 1.0
ruler_x_padding 5.0

## We use mupdf to determine lines for visual mark. However, we do have a custom algorithm for image documents
## if `force_custom_line_algorithm` is 1, then we use our custom algorithm instead of mupdf even for documents
## that have lines.
#force_custom_line_algorithm 0

# A directory which sioyek watches for new papers. If a new paper added to this directory
# while we are creating a portal from another document, this new document will automatically
# be used as the destination of the portal.
#paper_folder_path /some/path

# Enable some experimental features, might not be stable
#enable_experimental_features 0

# Automatically create a table of contents for the document if it doesn't already have one
create_table_of_contents_if_not_exists 1

# Limits the maximum size of created table of contents
max_created_toc_size 5000

# Warn the user on the command line only when redefining keys inside
# the same file. When set to 1, sioyek will warn when redefining keys
# from other files also
should_warn_about_user_key_override 1

# Use double clicks to select entire words and single clicks for character-based selection
single_click_selects_words 0

# A prefix to prepend to items in lists (e.g. bookmark lists)
#item_list_prefix >

## In presentation mode, ignore whitespace when trying to determine the size of a page
#ignore_whitespace_in_presentation_mode 0

## In list of recent documents, show the entire document path rather than just the name
#show_doc_path 0

# Show long menu items in multiple lines instead of truncating the string, can reduce performance for
#very large lists
multiline_menus 1

# While in present mode, prerender the next page to avoid flickering
prerender_next_page_presentation 1

## Custom commands to run when clicking or right clicking when modifier keys are pressed
## the command can be any built-in sioyek command (e.g. overview_under_cursor) or user-defined
## commands defined using `new_command`
# shift_click_command some_command
# control_click_command some_command
# alt_click_command some_command
# shift_right_click_command some_command
# control_right_click_command some_command
# alt_right_click_command some_command

#here the some of the good colors that choices that i have came upon testing all of the color
#
#c(caramel),z(kathai),w(orangish), r(red),v(voilet),m(dark pink),n(navy),o(orpiment),t(dark skyblue)
#u,q,g,f# - green variations
#x , y - light and dark green
#e , i - dark and light graphite color
#
# fentovmw
    # Dark sky blue (t): Definitions, explanations, or notes about the code, including tips and insights that can deepen understanding.
    # greenish(f): Key concepts or important information that should be emphasized.
    # Orangish(w): Syntax elements, such as keywords, variables, functions, etc. This makes it easier to identify the structure of the code.
    # light gray(e): Code examples or sample code, providing context and practical application of the concepts discussed.
    # Grayish(n): Comments in the code, providing explanations and context for the reader.

    # Voilet(v): Personal annotations or observations, allowing the reader to keep track of their own thoughts and understanding of the code.
    # orpiment(o): Debugging markers or annotations, used to help track the execution flow during debugging.
    #
    #
#colors section
#
# # Color of status bar background
# status_bar_color 0 0 0
# # Color of status bar text
# status_bar_text_color 1 1 1
# # Font size of the status bar text
# # status_bar_font_size 20

# # The color with which the screen is cleared before rendering the pdf (this is the background color of the application and not the PDF file)
# # background_color    0.97 0.97 0.97
# dark_mode_background_color    0.0 0.0 0.0

# # Showing full white text on black background can be irritating for the eye, we can dim the whites a little bit using the contrast option
# dark_mode_contrast			0.8

# # Highlight color when text is selected using mouse
# text_highlight_color    1.0 1.0 0.0

# # The color of highlight ruler which is displayed when right click is pressed
# visual_mark_color    0.0 0.0 0.0 0.1

# # Highlight color when text is a search match
# search_highlight_color  0.0 1.0 0.0

# # Hihglight color for PDF links (note that highlight is off by default
# # and can only be seen by performing a toggle_highlight command. See keys.config for more details)
# link_highlight_color    0.0 0.0 1.0

# # Hihglight color for synctex forward search highlights
# synctex_highlight_color    1.0 0.0 1.0

# ## Background color to use when executing `toggle_custom_color`
# custom_background_color 0.180 0.204 0.251
# ## Text color to use when executing `toggle_custom_color`
# custom_text_color 0.847 0.871 0.914



# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# custom_background_color #2b2b2b
# custom_text_color #ffc66d
# page_separator_color #2b2b2b
# search_highlight_color #bbb529
# status_bar_color #2b2b2b
# status_bar_text_color #ffc66d
# ui_text_color #ffc66d
# ui_selected_text_color #ffc66d
# ui_background_color #323232
# ui_selected_background_color #606366
# background_color #2b2b2b
# visual_mark_color 0.3764706 0.3882353 0.4 0.2
# text_highlight_color #606366
# link_highlight_color #9876aa
# synctex_highlight_color #4eade5


# # base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
custom_background_color #fdf6e3
# custom_text_color #073642
custom_text_color #111111
page_separator_color #fdf6e3
search_highlight_color #b58900
status_bar_color #fdf6e3
status_bar_text_color #073642
ui_text_color #073642
ui_selected_text_color #073642
ui_background_color #eee8d5
ui_selected_background_color #839496
background_color #fdf6e3
visual_mark_color 0.5137255 0.5803922 0.5882353 0.2
text_highlight_color #839496
link_highlight_color #268bd2
synctex_highlight_color #dc322f


# === CATPPUCCI MACCHIATO === #
# background_color           #24273a
# text_highlight_color       #eed49f
# visual_mark_color          #8087a2
# search_highlight_color     #eed49f
# link_highlight_color       #8aadf4
# synctex_highlight_color    #a6da95
# highlight_color_a          #eed49f
# highlight_color_b          #a6da95
# highlight_color_c          #91d7e3
# highlight_color_d          #ee99a0
# highlight_color_e          #c6a0f6
# highlight_color_f          #ed8796
# highlight_color_g          #eed49f
# custom_background_color    #24273a
# custom_text_color          #cad3f5
# ui_text_color              #cad3f5
# ui_background_color        #363a4f
# ui_selected_text_color     #cad3f5
# ui_selected_background_color #5b6078


# === CATPPUCCI MOCHA === #
# background_color           #1e1e2e
# text_highlight_color       #f9e2af
# visual_mark_color          #7f849c
# search_highlight_color     #f9e2af
# link_highlight_color       #89b4fa
# synctex_highlight_color    #a6e3a1
# highlight_color_a          #f9e2af
# highlight_color_b          #a6e3a1
# highlight_color_c          #89dceb
# highlight_color_d          #eba0ac
# highlight_color_e          #cba6f7
# highlight_color_f          #f38ba8
# highlight_color_g          #f9e2af
# custom_background_color    #1e1e2e
# custom_text_color          #cdd6f4
# ui_text_color              #cdd6f4
# ui_background_color        #313244
# ui_selected_text_color     #cdd6f4
# ui_selected_background_color #585b70



# === CATPPUCCI FRAPPÉ === #
# background_color           #303446
# text_highlight_color       #e5c890
# visual_mark_color          #838ba7
# search_highlight_color     #e5c890
# link_highlight_color       #8caaee
# synctex_highlight_color    #a6d189
# highlight_color_a          #e5c890
# highlight_color_b          #a6d189
# highlight_color_c          #99d1db
# highlight_color_d          #ea999c
# highlight_color_e          #ca9ee6
# highlight_color_f          #e78284
# highlight_color_g          #e5c890
# custom_background_color    #303446
# custom_text_color          #c6d0f5
# ui_text_color              #c6d0f5
# ui_background_color        #414559
# ui_selected_text_color     #c6d0f5
# ui_selected_background_color #626880

# === CATPPUCCI LATTE === #
# background_color           #eff1f5
# text_highlight_color       #df8e1d
# visual_mark_color          #8c8fa1
# search_highlight_color     #df8e1d
# link_highlight_color       #1e66f5
# synctex_highlight_color    #40a02b
# highlight_color_a          #df8e1d
# highlight_color_b          #40a02b
# highlight_color_c          #04a5e5
# highlight_color_d          #e64553
# highlight_color_e          #8839ef
# highlight_color_f          #d20f39
# highlight_color_g          #df8e1d
# custom_background_color    #eff1f5
# custom_text_color          #4c4f69
# ui_text_color              #4c4f69
# ui_background_color        #ccd0da
# ui_selected_text_color     #4c4f69
# ui_selected_background_color #acb0be


###mine
# background_color    0.0 0.0 0.0
#Amethyst
highlight_color_a	0.94 0.64 1.00
#Blue
highlight_color_b	0.00 0.46 0.86
#Caramel
highlight_color_c	0.60 0.25 0.00
#Damson
highlight_color_d	0.30 0.00 0.36
#Ebony
highlight_color_e	0.10 0.10 0.10
#Forest
highlight_color_f	0.00 0.36 0.19
#Green
highlight_color_g	0.17 0.81 0.28
#Honeydew
highlight_color_h	1.00 0.80 0.60
#Iron
highlight_color_i	0.50 0.50 0.50
#Jade
highlight_color_j	0.58 1.00 0.71
#Khaki
highlight_color_k	0.56 0.49 0.00
#Lime
highlight_color_l	0.62 0.80 0.00
#Mallow
highlight_color_m	0.76 0.00 0.53
#Navy
highlight_color_n	0.00 0.20 0.50
#Orpiment
highlight_color_o	1.00 0.64 0.02
#Pink
highlight_color_p	1.00 0.66 0.73
#Quagmire
highlight_color_q	0.26 0.40 0.00
#Red
highlight_color_r	1.00 0.00 0.06
#Sky
highlight_color_s	0.37 0.95 0.95
#Turquoise
highlight_color_t	0.00 0.60 0.56
#Uranium
highlight_color_u	0.88 1.00 0.40
#Violet
highlight_color_v	0.45 0.04 1.00
#Wine
highlight_color_w	0.60 0.00 0.00
#Xanthin
highlight_color_x	1.00 1.00 0.50
#Yellow
highlight_color_y	1.00 1.00 0.00
#Zinnia
highlight_color_z	1.00 0.31 0.02
